@using System.Linq
@model GigHub.ViewModels.GigDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div>
        <h2>@Model.Gig.Artist.GetFullName()</h2>

       @if(User.Identity.IsAuthenticated)
       {
           @Html.HiddenFor(x=>x.Gig.ArtistId)

           if (Model.IsFollowing)
           {
               <button class="btn btn-info js-toggle-follow" data-user-id="@Model.Gig.ArtistId">Following</button>
           }
           else
           {
               <button class="btn btn-default js-toggle-follow" data-user-id="@Model.Gig.ArtistId">Follow</button>
           }
       }

    </div>

</div>

<div>
    <p>Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToShortDateString() at  @Model.Gig.DateTime.ToShortTimeString()</p>
</div>

@if (User.Identity.IsAuthenticated && Model.IsAttending)
{
    <p>You are going to this event</p>
}

@section scripts
{
    <script>
        $(document).ready(function() {
            GigDetailsController.init();
        })
    </script>
}


