@using System.Web.UI.WebControls
@model GigHub.ViewModels.GigsViewModel

@{
    ViewBag.Title = "Home Page";
}


<h1>@Model.Heading</h1>
@using (Html.BeginForm("Search","Gigs"))
{
    <div class="form-group">
        <div class="input-group" style="width: 300px;">
            @Html.TextBoxFor(x=>x.SearchWord,new {@class="form-control", PlaceHolder="Search..."})
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        </div>
    </div>
}
<ul class="gigs">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                @if (gig.IsCanceled)
                {
                    <span class="label label-warning">Canceled</span>
                }
              
              <span class="artist">
                   @Html.ActionLink(gig.Artist.GetFullName(), "Details", "Gigs", new { id = gig.Id }, null)  

                   </span>
                <span class="genre">
                    @gig.Genre.Name
                    @if (Model.ShowActions && !gig.IsCanceled)
                    {
                        <button data-gig-id="@gig.Id" class="btn-default btn small-btn btn-xs pull-right js-toggle-attendece">Going? </button>

                    }
                </span>
               
            </div>
        </li>
    }
</ul>



@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-toggle-attendance").click(function(e) {
                var button = $(e.target);
                $.post("/api/attendances", { gigId: button.attr("data-gig-id") })
                    .done(function() {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function() {
                        alert("Something failed!");
                    });
            });

           
        });
    </script>
}